[submodule "Mika/vendor/spdlog"]
	path = Mika/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Mika/vendor/GLFW"]
	path = Mika/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Mika/vendor/imgui"]
	path = Mika/vendor/imgui
	url = https://github.com/JuiYuHung-craftcat/imgui
[submodule "Mika/vendor/glm"]
	path = Mika/vendor/glm
	url = https://github.com/g-truc/glm
